.link_field {
    width: 90%;
}
.cards_panel {
    margin-left: 3%;
    margin-right: 3%;
}
.text-right {
    text-align: right;
}
.menu-button {
    width: 189px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.max-amount-input {
    margin-left: 10px;
}
@media (max-width: 328px) {
    .text-right {
        text-align: left;
    }
}
@media (max-width: 373px){
    .max-amount-input {
        margin-left: 0;
        margin-right: 10px;
    }
}
.modal-content li {
    list-style: none;
    padding-left: 0;
}